<form method="POST" action="{% url "login" %}">
    {% csrf_token %}
  <div class="form-group">
      <input type="username" name="username" class="form-control" id="login_username" placeholder="Username"
      oninput="checkClass(this,'login_button','login_password')"
      autocomplete="username"
      >
  </div>
  <div class="form-group">
      <input type="password" name="password" class="form-control" id="login_password" placeholder="Password"
      oninput="checkClass(this,'login_button','login_username')"
      autocomplete="current-password"
      >
  </div>
  <div class="form-group">
      <button class="btn btn-secondary w-100" disabled id="login_button">Login</button>
  </div>
</form>